* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    height: 128px;

    background-color: rgba(231, 108, 31, 1);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 140px;
}

.hero-section {
    width: 100%;
    height: 70vh;
}

.hero-banner {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    height: 80%;
    width: 100%;

    background-image: url(./assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.hero-logo {
    width: 240px;
    height: 240px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(253, 234, 220, 1);

    border-radius: 180px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 33%;
}

.hero-logo img {
    height: 180px;
    width: 180px;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding: 0px 140px 140px 165px;
}

.hero-headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding: 25px;
}

.hero-text {
    display: flex;
    align-items: center;
    gap: 20px;

}
.rating-container {
    width: 110px;
    height: 35px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px;

    background-color: antiquewhite;

    border-radius: 4px;
}
.rating-container img {
    width: 24px;
    height: 24px;
}

main {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    height: 128px;
    width: 100%;

    background-color: rgba(231, 108, 31, 1);

    margin-top: 90px;
}

.footer-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 0px 140px;
}

.footer-copyright {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-wrapper a {
    text-decoration: none;
}