.menu-category {
    background-image: url(/assets/img/Rectangle\ 13.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-category img {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    margin-left: 132px;

     box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.25);
}

.menu-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
}

/* menu-cards */
.menu-card {
    background-color: rgba(253, 234, 220, 1);

    width: 60%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;

    padding: 12px;
    margin-left: 120px;
    margin-top: 25px;
    margin-bottom: 25px;

    border-radius: 12px;
}

.menu-card-img {
    width: 210px;
    height: 120px;

    object-fit: cover;
}

.menu-card-img img {
    border-radius: 4px;
}

.menu-card-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.menu-card-buy {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.menu-card-button {
    background-image: url(/assets/icons/basket-default.png);
    background-position: center;
    background-repeat: no-repeat;

    width: 115px;
    height: 35px;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.menu-card-button:hover {
    background-image: url(/assets/icons/basket-hover.png);
}

.menu-card-button:active {
    background-image: url(/assets/icons/basket-added.png);
}

/* basket-sticky */
.basket-sticky {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
}
.basket-sticky.hidden{
    display:none;
}

.basket-wrapper {
    width: 440px;
    height: 800px;
    background-color: rgba(54, 53, 52, 1);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    padding: 60px 65px 60px 30px;
}

.basket-wrapper h6 {
    padding-bottom: 36px;
}

.basket-menu-card {
    width: 100%;
    background-color: rgba(253, 234, 220, 1);
    display: flex;
    flex-direction: column;

    padding: 20px;
    border-radius: 20px;
}

.basket-menu-card-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delet-all-button {
    display: none;

    width: 24px;
    height: 24px;

    background-image: url(/assets/icons/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.delet-item-button {
    display: none;
    width: 24px;
    height: 24px;

    background-image: url(/assets/icons/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.minus-item-button {
    width: 13px;
    height: 24px;

    background-image: url(/assets/icons/minus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.plus-item-button {
    width: 13px;
    height: 24px;

    background-image: url(/assets/icons/plus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.delet-all-button:hover {
    background-image: url(/assets/icons/delet-hover.png);

}

.basket-menu-card-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.basket-menu-card-quanity-counter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.basket-subtotal {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 36px;
}

.basket-delivery-fee {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.basket-total {
    width: 100%;
    display: flex;
    justify-content: space-between;

    border-top: 2px solid rgba(253, 234, 220, 1);

    padding-top: 15px;
    padding-bottom: 30px;
}

.buy-now-button {
    width: 100%;
    height: 64px;

    background-color: rgba(231, 108, 31, 1);
    border-radius: 60px;
    border: none;

    cursor: pointer;
}

.buy-now-button p {
    color: rgba(251, 251, 251, 1);
    font-family: 'Palanquin';
    font-size: 32px;
    font-weight: 700;
}

/* Empty Basket */
.basket-sticky-empty {
    display: none;

    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
}

.basket-wrapper-empty {
    width: 440px;
    height: 800px;
    background-color: rgba(54, 53, 52, 1);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    padding: 60px 65px 60px 30px;
}

.basket-empty-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 60px 0px 70px 0px;
}

.basket-wrapper-empty p {
    color: rgba(253, 234, 220, 1);
    font-size: 24px;
    font-family: 'Palanquin';

}

/* Modal */
.delivery-modal.active {
    display: flex;
}
.delivery-modal {
    display: none;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(44, 31, 20, 0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.delivery-modal-box {
    width: 420px;
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(54, 53, 52, 1);

    border-radius: 30px;

    overflow-y: auto;
    position: relative;
}

.delivery-modal-box h4 {
    color: rgba(253, 234, 220, 1);
}